/* Estilo banner */
.banner {
  color: white;
  border-radius: 16px;
  margin: 15px auto 62px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 300px;
  background: #127de7f1 url("../img/banner/backg-banner.png") center/cover no-repeat;
}

.banner-titulo {
  width: 100%;
  max-width: 387px;
  font-size: 36px;
  text-align: center;
  margin-top: 76px;
}

.banner-link {
  text-align: center;
  background-color: #004993;
  width: 100%;
  max-width: 343px;
  height: 58px;
  border-radius: 35px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 40px;
  color: white;
  text-decoration: none;
}

.banner-link>img {
  padding: 5px;
}

/* Estilo dos registros de denúncia */
.registros-titulo,
.rank-titulo {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  font-size: 36px;
  font-weight: bold;
  color: #127CE7;
  box-shadow: 0 10px 10px -10px #DADADA;
}

.registros {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;

}
.registros-titulo{
  margin-bottom: 30px;
}
.registros-denuncia {
  width: calc(33.33% - 30px);
  height: 322px;
  text-align: center;
  margin: 15px;
  box-shadow: 0 0 10px #DADADA;
  border-radius: 5px;
}

.registros-denuncia-img {
  width: 100%;
  padding: 15px;
}

.registros-denuncia-endereco {
  font-weight: bold;
  color: #127CE7;
}

.registros-denuncia-periodo {
  font-weight: bold;
}

.registros-denuncia-reporte {
  padding-top: 26px;
}

/* Estilo da tabela de ranking */
.rank {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin-top:48px;
  margin-bottom: 67px;
}

.tabela{
  padding: 21px 19px;
  width: 100%;
  margin-top: 35px;
  box-shadow: 0 0 10px #DADADA;
  border-radius: 8px;
}
.rank-tabela{
  border-collapse: collapse;
}


.rank-tabela td {
  padding: 8px;
  border-top: 1px solid #ddd;
}

.rank-tabela-cabecalho-nome {
  width: 390px;
  text-align: left;
}
.rank-tabela-celula-nome{
  width: 400px;
}
.rank-tabela-cabecalho-denuncia {
  width: 510px;
  text-align: left;
}

.rank-tabela td:nth-child(2) {
  padding-left: 30px;
}

.rank-tabela-cabecalho-posicao {
  width: 70px;
  text-align: center;
}
.rank-tabela-celula-posicao {
  text-align: center;
}


